* {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}
a {
  text-decoration: none;
  color: darkgray;
}
li {
  font-size: large;
}
h1 {
  text-align: center;
  background: darkorange;
  color: beige;
  border-radius: 10px;
  box-shadow: 2px 2px darkgray;
}
p {
  font-style: italic;
}
li {
  color: darkslategray;
}
img {
  height: 400px;
  border-radius: 10px;
}
